body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
    color: #333;
    background-color:black;
}

a {
    text-decoration: none;
}

#main{
    background-color: white;
    width: 800px;
    margin: 0 auto;
}

header {
    background-color: inherit;
}

header .header_contents {
    height: 50px;
    margin: 0 auto;
    width: 800px;
}

#main_logo {
    float: left;
}

.logo_box {
    width: 200px;
    float: left;
}

.page_title {
    float: left;
    width:auto;
    overflow: hidden;
    height: 50px;
}
#page_title_character{
    font-size: 20px;
    font-family: serif;
    margin: auto;
}

.container {

}


#nav {
    float: left;
    width: 100%;
}

.main_content {
    float: left;
    width: 100%;
    overflow: hidden;
}

.paragraph {
    min-width: 300px;
    min-height: 100px;
}

#news {}

.slide{
    width: 100%;
    float: right;
}

#footer {
    clear: left;
    width: 100%;
    background-color: #D0D0D0;
}

footer {
    text-align: center;
}
